/* 
    the files font name: inter
        tow weight 400 , 700
                regular , bold
*/
@font-face {
    font-family: 'inter';
    src: url(../assets/fonts/Inter-Regular.ttf),
      url("../assets/fonts/Inter-SemiBold.ttf") format("ttf"),
      url("../assets/fonts/Inter-Bold.ttf") format("ttf");
    font-weight: normal;
  }
body{
    font-family: 'inter';
}
.profile-name{
    font-family: 'inter';
}